@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  @apply bg-bodyColor scroll-smooth;
}
html {
  @apply scroll-smooth;
}
a {
  @apply hover:text-teal-200 text-teal-400 transition-all;
}
.glassBackground {
  @apply  border-secondaryColor bg-gradient-to-l from-backgroundColor/75 via-backgroundColor/75 to-PrimaryColor/75 backdrop-blur-md;
}


.moveIcons {
  transition: all 0.3s;
  animation: moveIcons 5s linear infinite;
}
@keyframes moveIcons {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes rotateGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* css loader  */

.loader {
  position: absolute;
  width: 100px;
  height: 100px;
}

.loader:before , .loader:after{
  content: '';
  border-radius: 50%;
  position: absolute;
  inset: 0;
  box-shadow: 0 0 10px 2px rgba(#f0fdfa, 0.3) inset;
}
.loader:after {
  box-shadow: 0 2px 0 #2dd4bf inset;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {  transform: rotate(0)}
  100% { transform: rotate(360deg)}
}